<div class="container">
  <div class="header">

    <div class="header_banner"[ngStyle]="{'background-image' : 'linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.3)),url('+headerBGUrl+')'}" >
      <h2>{{trending?.results[0].title}}</h2>
      <div class="header-button" >
        
        <button class="play-button">
          <p>
          <mat-icon id="playbtn">arrow_right</mat-icon>
          <span>Play</span></p>
        </button>
        
        <button class="more-button">
          <p id="morebtn">
          <mat-icon>info</mat-icon>
          <span> More Info</span></p>
        </button>

      </div>
    </div>

    <div class="header__main" id="stickyHeader" [class.sticky]="sticky" #stickHeader>
      <div class="header__left">
        <a routerLink="/">
          <img src="assets/image/netflix.svg" alt="logo">
        </a>
        <ul>
            <li class="active"><a href="#">Home</a></li>
            <li class="active"><a href="#">TV Sdows</a></li>
            <li class="active"><a href="#">Movies</a></li>
            <li class="active"><a href="#">Latest</a></li>
            <li class="active"><a href="#">My List</a></li>
        </ul>
      </div>
      <div class="header__right">
      <ul>
        <li><a href=""><mat-icon>search</mat-icon></a></li>
        <li><a href="">Childern</a></li>
        <li><a href=""><mat-icon>card_giftcard</mat-icon></a></li>
        <li><a href=""><mat-icon>notifications</mat-icon></a></li>
        <li>
          <img id="imgprofile" src="https://yt3.ggpht.com/yti/AJo0G0n07XkKjDl0ATYREkCiEB_HmtCf_Qv-zEFv9q79=s88-c-k-c0x00ffffff-no-rj-mo" alt="">
        </li>
      </ul>

    </div>
  </div>
</div>
  <div class="body" style="margin-top:38rem">
    <app-slider title="TRENDING" [movies]="trending" [sliderConfig]="sliderConfig"> </app-slider>
    <app-slider title="TOP RATED" [movies]="topRated" [sliderConfig]="sliderConfig"> </app-slider>
    <app-slider title="NOW PLAYING" [movies]="nowPlaying" [sliderConfig]="sliderConfig"> </app-slider>
    <app-slider title="ORIGINALS" [movies]="originals" [sliderConfig]="sliderConfig"> </app-slider>
    <app-slider title="POPULAR" [movies]="popular" [sliderConfig]="sliderConfig"> </app-slider>
  </div>
</div>